<a href="https://colab.research.google.com/github/couyang24/general_learning-tiffany/blob/master/Titanic/analysis/ibm_titanic_main_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# The code was removed by Watson Studio for sharing.

In [ ]:
! pip install featuretools

Collecting featuretools
  Downloading https://files.pythonhosted.org/packages/65/8b/62e93852d771cd1f5bd91635327d9933346dc24a34b6f87cf4ccb01d0f6b/featuretools-0.17.0-py3-none-any.whl (269kB)
     |████████████████████████████████| 276kB 9.2MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (1.2.0)
Requirement already satisfied: pyyaml>=3.12 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (3.13)
Requirement already satisfied: pandas>=0.24.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (0.24.1)
Requirement already satisfied: cloudpickle>=0.4.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (0.7.0)
Requirement already satisfied: psutil>=5.4.8 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (5.5.0)
Collecting tqdm>=4.32.0 (from featuretools)
  Downloading https://files.pythonhosted.org/packages/af/88/7b0ea5fa8192d1733dea459a9e3059afc87819cb4072c43263f2ec7ab768/tqdm-4.48.0-py2.py3-none-any.whl (67kB)
     |████████████████████████████████| 71kB 20.5MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (1.15.4)
Requirement already satisfied: distributed>=1.24.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (1.25.3)
Requirement already satisfied: click>=7.0.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (7.0)
Requirement already satisfied: dask[dataframe]>=1.1.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from featuretools) (1.1.1)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.24.1->featuretools) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pandas>=0.24.1->featuretools) (2.7.5)
Requirement already satisfied: msgpack in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (0.6.1)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (1.12.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (2.1.0)
Requirement already satisfied: tblib in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (1.3.2)
Requirement already satisfied: toolz>=0.7.4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (0.9.0)
Requirement already satisfied: tornado>=4.5.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (5.1.1)
Requirement already satisfied: zict>=0.1.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from distributed>=1.24.2->featuretools) (0.1.3)
Requirement already satisfied: partd>=0.3.8; extra == "dataframe" in /opt/conda/envs/Python36/lib/python3.6/site-packages (from dask[dataframe]>=1.1.0->featuretools) (0.3.9)
Requirement already satisfied: heapdict in /opt/conda/envs/Python36/lib/python3.6/site-packages (from zict>=0.1.3->distributed>=1.24.2->featuretools) (1.0.0)
Requirement already satisfied: locket in /opt/conda/envs/Python36/lib/python3.6/site-packages (from partd>=0.3.8; extra == "dataframe"->dask[dataframe]>=1.1.0->featuretools) (0.2.0)
Installing collected packages: tqdm, featuretools
  Found existing installation: tqdm 4.31.1
    Uninstalling tqdm-4.31.1:
      Successfully uninstalled tqdm-4.31.1
Successfully installed featuretools-0.17.0 tqdm-4.48.0

In [ ]:
# Load Package
# import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
import featuretools as ft

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import (
    OneHotEncoder,
    StandardScaler,
    LabelEncoder,
    OrdinalEncoder,
)
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_score, RandomizedSearchCV

In [ ]:
# Load data
train_df = project.get_file("train.csv")
test_df = project.get_file("test.csv")
train_df= pd.read_csv(train_df)
test_df = pd.read_csv(test_df)

In [ ]:
# Save data
target = train_df[["Survived"]]
submission = test_df[["PassengerId"]]

In [ ]:
# Join and Clean
combine = pd.concat([train_df, test_df])

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

In [ ]:
# EDA
combine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [ ]:
combine.columns

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket'],
      dtype='object')

In [ ]:
mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr', 'Don': 'Mr', 'Mme': 'Miss',
          'Jonkheer': 'Mr', 'Lady': 'Mrs', 'Capt': 'Mr', 'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}

In [ ]:
combine['Title'] = combine.Name.apply(lambda x: x.split(".")[0].split(",")[1].strip()).replace(mapping)

In [ ]:
combine.drop(['Cabin', 'Ticket', 'Name'], axis=1, inplace=True)

In [ ]:
# combine['Sex2'] = combine['Sex'].apply(lambda x: 0 if x=='female' else 1)

In [ ]:
# class ModifiedLabelEncoder(LabelEncoder):

#     def fit_transform(self, y, *args, **kwargs):
#         return super().fit_transform(y)

#     def transform(self, y, *args, **kwargs):
#         return super().transform(y)

In [ ]:
categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encode", OrdinalEncoder()),
])

numeric_transformer = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
])

In [ ]:
combine[['Sex','Embarked', 'Title']] = categorical_transformer.fit_transform(combine[['Sex', 'Embarked', 'Title']])

In [ ]:
combine[['Age', 'Fare']] = numeric_transformer.fit_transform(combine[['Age', 'Fare']])

In [ ]:
es = ft.EntitySet(id = 'titanic_data')

es = es.entity_from_dataframe(entity_id = 'combine', dataframe = combine.drop(['Survived'], axis=1), 
                              variable_types = 
                              {
                                  'Embarked': ft.variable_types.Categorical,
                                  'Sex': ft.variable_types.Boolean,
                                  'Title': ft.variable_types.Categorical
                              },
                              index = 'PassengerId')

es

Entityset: titanic_data
  Entities:
    combine [Rows: 1309, Columns: 9]
  Relationships:
    No relationships

In [ ]:
es = es.normalize_entity(base_entity_id='combine', new_entity_id='Embarked', index='Embarked')
es = es.normalize_entity(base_entity_id='combine', new_entity_id='Sex', index='Sex')
es = es.normalize_entity(base_entity_id='combine', new_entity_id='Title', index='Title')
es = es.normalize_entity(base_entity_id='combine', new_entity_id='Pclass', index='Pclass')
es = es.normalize_entity(base_entity_id='combine', new_entity_id='Parch', index='Parch')
es = es.normalize_entity(base_entity_id='combine', new_entity_id='SibSp', index='SibSp')
es

Entityset: titanic_data
  Entities:
    combine [Rows: 1309, Columns: 9]
    Embarked [Rows: 3, Columns: 1]
    Sex [Rows: 2, Columns: 1]
    Title [Rows: 7, Columns: 1]
    Pclass [Rows: 3, Columns: 1]
    Parch [Rows: 8, Columns: 1]
    SibSp [Rows: 7, Columns: 1]
  Relationships:
    combine.Embarked -> Embarked.Embarked
    combine.Sex -> Sex.Sex
    combine.Title -> Title.Title
    combine.Pclass -> Pclass.Pclass
    combine.Parch -> Parch.Parch
    combine.SibSp -> SibSp.SibSp

In [ ]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100
primitives[primitives['type'] == 'aggregation'].head(primitives[primitives['type'] == 'aggregation'].shape[0])

,name,type,dask_compatible,description
0,n_most_common,aggregation,False,Determines the `n` most common elements.
1,sum,aggregation,True,"Calculates the total addition, ignoring `NaN`."
2,num_true,aggregation,True,Counts the number of `True` values.
3,all,aggregation,True,Calculates if all values are 'True' in a list.
4,last,aggregation,False,Determines the last value in a list.
5,count,aggregation,True,"Determines the total number of values, excluding `NaN`."
6,std,aggregation,True,"Computes the dispersion relative to the mean value, ignoring `NaN`."
7,num_unique,aggregation,True,"Determines the number of distinct values, ignoring `NaN` values."
8,median,aggregation,False,Determines the middlemost number in a list of values.
9,min,aggregation,True,"Calculates the smallest value, ignoring `NaN` values."
10,mean,aggregation,True,Computes the average for a list of values.
11,avg_time_between,aggregation,False,Computes the average number of seconds between consecutive events.
12,percent_true,aggregation,True,Determines the percent of `True` values.
13,time_since_last,aggregation,False,Calculates the time elapsed since the last datetime (default in seconds).
14,any,aggregation,True,Determines if any value is 'True' in a list.
15,time_since_first,aggregation,False,Calculates the time elapsed since the first datetime (in seconds).
16,trend,aggregation,False,Calculates the trend of a variable over time.
17,first,aggregation,False,Determines the first value in a list.
18,entropy,aggregation,False,Calculates the entropy for a categorical variable
19,skew,aggregation,False,Computes the extent to which a distribution differs from a normal distribution.
20,max,aggregation,True,"Calculates the highest value, ignoring `NaN` values."
21,mode,aggregation,False,Determines the most commonly repeated value.

In [ ]:
primitives[primitives['type'] == 'transform'].head(primitives[primitives['type'] == 'transform'].shape[0])

,name,type,dask_compatible,description
22,greater_than_equal_to,transform,True,Determines if values in one list are greater than or equal to another list.
23,subtract_numeric_scalar,transform,True,Subtract a scalar from each element in the list.
24,divide_numeric_scalar,transform,True,Divide each element in the list by a scalar.
25,divide_by_feature,transform,True,Divide a scalar by each value in the list.
26,less_than,transform,True,Determines if values in one list are less than another list.
27,latitude,transform,False,Returns the first tuple value in a list of LatLong tuples.
28,greater_than,transform,True,Determines if values in one list are greater than another list.
29,cum_min,transform,False,Calculates the cumulative minimum.
30,minute,transform,True,Determines the minutes value of a datetime.
31,not,transform,True,Negates a boolean value.
32,longitude,transform,False,Returns the second tuple value in a list of LatLong tuples.
33,cum_count,transform,False,Calculates the cumulative count.
34,hour,transform,True,Determines the hour value of a datetime.
35,subtract_numeric,transform,True,Element-wise subtraction of two lists.
36,diff,transform,False,Compute the difference between the value in a list and the
37,num_words,transform,True,Determines the number of words in a string by counting the spaces.
38,divide_numeric,transform,True,Element-wise division of two lists.
39,add_numeric,transform,True,Element-wise addition of two lists.
40,month,transform,True,Determines the month value of a datetime.
41,weekday,transform,True,Determines the day of the week from a datetime.
42,multiply_numeric_scalar,transform,True,Multiply each element in the list by a scalar.
43,absolute,transform,True,Computes the absolute value of a number.
44,not_equal,transform,False,Determines if values in one list are not equal to another list.
45,modulo_by_feature,transform,True,Return the modulo of a scalar by each element in the list.
46,scalar_subtract_numeric_feature,transform,True,Subtract each value in the list from a given scalar.
47,equal,transform,False,Determines if values in one list are equal to another list.
48,is_weekend,transform,True,Determines if a date falls on a weekend.
49,modulo_numeric,transform,True,Element-wise modulo of two lists.
50,age,transform,False,Calculates the age in years as a floating point number given a
51,less_than_equal_to,transform,True,Determines if values in one list are less than or equal to another list.
52,less_than_scalar,transform,True,Determines if values are less than a given scalar.
53,greater_than_scalar,transform,True,Determines if values are greater than a given scalar.
54,cum_max,transform,False,Calculates the cumulative maximum.
55,week,transform,True,Determines the week of the year from a datetime.
56,greater_than_equal_to_scalar,transform,True,Determines if values are greater than or equal to a given scalar.
57,percentile,transform,False,Determines the percentile rank for each value in a list.
58,haversine,transform,False,Calculates the approximate haversine distance between two LatLong
59,cum_mean,transform,False,Calculates the cumulative mean.
60,second,transform,True,Determines the seconds value of a datetime.
61,negate,transform,True,Negates a numeric value.
62,time_since,transform,True,Calculates time from a value to a specified cutoff datetime.
63,cum_sum,transform,False,Calculates the cumulative sum.
64,day,transform,True,Determines the day of the month from a datetime.
65,add_numeric_scalar,transform,True,Add a scalar to each value in the list.
66,isin,transform,True,Determines whether a value is present in a provided list.
67,num_characters,transform,True,Calculates the number of characters in a string.
68,year,transform,True,Determines the year value of a datetime.
69,multiply_boolean,transform,True,Element-wise multiplication of two lists of boolean values.
70,time_since_previous,transform,False,Compute the time since the previous entry in a list.
71,not_equal_scalar,transform,True,Determines if values in a list are not equal to a given scalar.
72,and,transform,True,Element-wise logical AND of two lists.
73,is_null,transform,True,Determines if a value is null.
74,equal_scalar,transform,True,Determines if values in a list are equal to a given scalar.
75,multiply_numeric,transform,True,Element-wise multiplication of two lists.
76,modulo_numeric_scalar,transform,True,Return the modulo of each element in the list by a scalar.
77,or,transform,True,Element-wise logical OR of two lists.
78,less_than_equal_to_scalar,transform,True,Determines if values are less than or equal to a given scalar.

In [ ]:
features, feature_names = ft.dfs(entityset = es, 
                                 target_entity = 'combine', 
#                                  trans_primitives=['subtract_numeric', 'add_numeric', 'divide_numeric', 'multiply_numeric'],
                                 max_depth = 2)

In [ ]:
feature_names

[<Feature: Age>,
 <Feature: Fare>,
 <Feature: Parch>,
 <Feature: Pclass>,
 <Feature: SibSp>,
 <Feature: Embarked>,
 <Feature: Sex>,
 <Feature: Title>,
 <Feature: Embarked.SUM(combine.Fare)>,
 <Feature: Embarked.SUM(combine.Age)>,
 <Feature: Embarked.STD(combine.Fare)>,
 <Feature: Embarked.STD(combine.Age)>,
 <Feature: Embarked.MAX(combine.Fare)>,
 <Feature: Embarked.MAX(combine.Age)>,
 <Feature: Embarked.SKEW(combine.Fare)>,
 <Feature: Embarked.SKEW(combine.Age)>,
 <Feature: Embarked.MIN(combine.Fare)>,
 <Feature: Embarked.MIN(combine.Age)>,
 <Feature: Embarked.MEAN(combine.Fare)>,
 <Feature: Embarked.MEAN(combine.Age)>,
 <Feature: Embarked.COUNT(combine)>,
 <Feature: Embarked.NUM_UNIQUE(combine.Pclass)>,
 <Feature: Embarked.NUM_UNIQUE(combine.Title)>,
 <Feature: Embarked.NUM_UNIQUE(combine.Parch)>,
 <Feature: Embarked.NUM_UNIQUE(combine.SibSp)>,
 <Feature: Embarked.NUM_UNIQUE(combine.Sex)>,
 <Feature: Embarked.MODE(combine.Pclass)>,
 <Feature: Embarked.MODE(combine.Title)>,
 <Feature: Embarked.MODE(combine.Parch)>,
 <Feature: Embarked.MODE(combine.SibSp)>,
 <Feature: Embarked.MODE(combine.Sex)>,
 <Feature: Sex.SUM(combine.Fare)>,
 <Feature: Sex.SUM(combine.Age)>,
 <Feature: Sex.STD(combine.Fare)>,
 <Feature: Sex.STD(combine.Age)>,
 <Feature: Sex.MAX(combine.Fare)>,
 <Feature: Sex.MAX(combine.Age)>,
 <Feature: Sex.SKEW(combine.Fare)>,
 <Feature: Sex.SKEW(combine.Age)>,
 <Feature: Sex.MIN(combine.Fare)>,
 <Feature: Sex.MIN(combine.Age)>,
 <Feature: Sex.MEAN(combine.Fare)>,
 <Feature: Sex.MEAN(combine.Age)>,
 <Feature: Sex.COUNT(combine)>,
 <Feature: Sex.NUM_UNIQUE(combine.Pclass)>,
 <Feature: Sex.NUM_UNIQUE(combine.Title)>,
 <Feature: Sex.NUM_UNIQUE(combine.Parch)>,
 <Feature: Sex.NUM_UNIQUE(combine.SibSp)>,
 <Feature: Sex.NUM_UNIQUE(combine.Embarked)>,
 <Feature: Sex.MODE(combine.Pclass)>,
 <Feature: Sex.MODE(combine.Title)>,
 <Feature: Sex.MODE(combine.Parch)>,
 <Feature: Sex.MODE(combine.SibSp)>,
 <Feature: Sex.MODE(combine.Embarked)>,
 <Feature: Title.SUM(combine.Fare)>,
 <Feature: Title.SUM(combine.Age)>,
 <Feature: Title.STD(combine.Fare)>,
 <Feature: Title.STD(combine.Age)>,
 <Feature: Title.MAX(combine.Fare)>,
 <Feature: Title.MAX(combine.Age)>,
 <Feature: Title.SKEW(combine.Fare)>,
 <Feature: Title.SKEW(combine.Age)>,
 <Feature: Title.MIN(combine.Fare)>,
 <Feature: Title.MIN(combine.Age)>,
 <Feature: Title.MEAN(combine.Fare)>,
 <Feature: Title.MEAN(combine.Age)>,
 <Feature: Title.COUNT(combine)>,
 <Feature: Title.NUM_UNIQUE(combine.Pclass)>,
 <Feature: Title.NUM_UNIQUE(combine.Parch)>,
 <Feature: Title.NUM_UNIQUE(combine.SibSp)>,
 <Feature: Title.NUM_UNIQUE(combine.Embarked)>,
 <Feature: Title.NUM_UNIQUE(combine.Sex)>,
 <Feature: Title.MODE(combine.Pclass)>,
 <Feature: Title.MODE(combine.Parch)>,
 <Feature: Title.MODE(combine.SibSp)>,
 <Feature: Title.MODE(combine.Embarked)>,
 <Feature: Title.MODE(combine.Sex)>,
 <Feature: Pclass.SUM(combine.Fare)>,
 <Feature: Pclass.SUM(combine.Age)>,
 <Feature: Pclass.STD(combine.Fare)>,
 <Feature: Pclass.STD(combine.Age)>,
 <Feature: Pclass.MAX(combine.Fare)>,
 <Feature: Pclass.MAX(combine.Age)>,
 <Feature: Pclass.SKEW(combine.Fare)>,
 <Feature: Pclass.SKEW(combine.Age)>,
 <Feature: Pclass.MIN(combine.Fare)>,
 <Feature: Pclass.MIN(combine.Age)>,
 <Feature: Pclass.MEAN(combine.Fare)>,
 <Feature: Pclass.MEAN(combine.Age)>,
 <Feature: Pclass.COUNT(combine)>,
 <Feature: Pclass.NUM_UNIQUE(combine.Title)>,
 <Feature: Pclass.NUM_UNIQUE(combine.Parch)>,
 <Feature: Pclass.NUM_UNIQUE(combine.SibSp)>,
 <Feature: Pclass.NUM_UNIQUE(combine.Embarked)>,
 <Feature: Pclass.NUM_UNIQUE(combine.Sex)>,
 <Feature: Pclass.MODE(combine.Title)>,
 <Feature: Pclass.MODE(combine.Parch)>,
 <Feature: Pclass.MODE(combine.SibSp)>,
 <Feature: Pclass.MODE(combine.Embarked)>,
 <Feature: Pclass.MODE(combine.Sex)>,
 <Feature: Parch.SUM(combine.Fare)>,
 <Feature: Parch.SUM(combine.Age)>,
 <Feature: Parch.STD(combine.Fare)>,
 <Feature: Parch.STD(combine.Age)>,
 <Feature: Parch.MAX(combine.Fare)>,
 <Feature: Parch.MAX(combine.Age)>,
 <Feature: Parch.SKEW(combine.Fare)>,
 <Feature: Parch.SKEW(combine.Age)>,
 <Feature: Parch.MIN(combine.Fare)>,
 <Feature: Parch.MIN(combine.Age)>,
 <Feature: Parch.MEAN(combine.Fare)>,
 <Feature: Parch.MEAN(combine.Age)>,
 <Feature: Parch.COUNT(combine)>,
 <Feature: Parch.NUM_UNIQUE(combine.Pclass)>,
 <Feature: Parch.NUM_UNIQUE(combine.Title)>,
 <Feature: Parch.NUM_UNIQUE(combine.SibSp)>,
 <Feature: Parch.NUM_UNIQUE(combine.Embarked)>,
 <Feature: Parch.NUM_UNIQUE(combine.Sex)>,
 <Feature: Parch.MODE(combine.Pclass)>,
 <Feature: Parch.MODE(combine.Title)>,
 <Feature: Parch.MODE(combine.SibSp)>,
 <Feature: Parch.MODE(combine.Embarked)>,
 <Feature: Parch.MODE(combine.Sex)>,
 <Feature: SibSp.SUM(combine.Fare)>,
 <Feature: SibSp.SUM(combine.Age)>,
 <Feature: SibSp.STD(combine.Fare)>,
 <Feature: SibSp.STD(combine.Age)>,
 <Feature: SibSp.MAX(combine.Fare)>,
 <Feature: SibSp.MAX(combine.Age)>,
 <Feature: SibSp.SKEW(combine.Fare)>,
 <Feature: SibSp.SKEW(combine.Age)>,
 <Feature: SibSp.MIN(combine.Fare)>,
 <Feature: SibSp.MIN(combine.Age)>,
 <Feature: SibSp.MEAN(combine.Fare)>,
 <Feature: SibSp.MEAN(combine.Age)>,
 <Feature: SibSp.COUNT(combine)>,
 <Feature: SibSp.NUM_UNIQUE(combine.Pclass)>,
 <Feature: SibSp.NUM_UNIQUE(combine.Title)>,
 <Feature: SibSp.NUM_UNIQUE(combine.Parch)>,
 <Feature: SibSp.NUM_UNIQUE(combine.Embarked)>,
 <Feature: SibSp.NUM_UNIQUE(combine.Sex)>,
 <Feature: SibSp.MODE(combine.Pclass)>,
 <Feature: SibSp.MODE(combine.Title)>,
 <Feature: SibSp.MODE(combine.Parch)>,
 <Feature: SibSp.MODE(combine.Embarked)>,
 <Feature: SibSp.MODE(combine.Sex)>]

In [ ]:
len(feature_names)

146

In [ ]:
features.isnull().sum()

Age                                    0
Fare                                   0
Parch                                  0
Pclass                                 0
SibSp                                  0
Embarked                               0
Sex                                    0
Title                                  0
Embarked.SUM(combine.Fare)             0
Embarked.SUM(combine.Age)              0
Embarked.STD(combine.Fare)             0
Embarked.STD(combine.Age)              0
Embarked.MAX(combine.Fare)             0
Embarked.MAX(combine.Age)              0
Embarked.SKEW(combine.Fare)            0
Embarked.SKEW(combine.Age)             0
Embarked.MIN(combine.Fare)             0
Embarked.MIN(combine.Age)              0
Embarked.MEAN(combine.Fare)            0
Embarked.MEAN(combine.Age)             0
Embarked.COUNT(combine)                0
Embarked.NUM_UNIQUE(combine.Pclass)    0
Embarked.NUM_UNIQUE(combine.Title)     0
Embarked.NUM_UNIQUE(combine.Parch)     0
Embarked.NUM_UNIQUE(combine.SibSp)     0
Embarked.NUM_UNIQUE(combine.Sex)       0
Embarked.MODE(combine.Pclass)          0
Embarked.MODE(combine.Title)           0
Embarked.MODE(combine.Parch)           0
Embarked.MODE(combine.SibSp)           0
                                      ..
Parch.NUM_UNIQUE(combine.Embarked)     0
Parch.NUM_UNIQUE(combine.Sex)          0
Parch.MODE(combine.Pclass)             0
Parch.MODE(combine.Title)              0
Parch.MODE(combine.SibSp)              0
Parch.MODE(combine.Embarked)           0
Parch.MODE(combine.Sex)                0
SibSp.SUM(combine.Fare)                0
SibSp.SUM(combine.Age)                 0
SibSp.STD(combine.Fare)                0
SibSp.STD(combine.Age)                 0
SibSp.MAX(combine.Fare)                0
SibSp.MAX(combine.Age)                 0
SibSp.SKEW(combine.Fare)               0
SibSp.SKEW(combine.Age)                0
SibSp.MIN(combine.Fare)                0
SibSp.MIN(combine.Age)                 0
SibSp.MEAN(combine.Fare)               0
SibSp.MEAN(combine.Age)                0
SibSp.COUNT(combine)                   0
SibSp.NUM_UNIQUE(combine.Pclass)       0
SibSp.NUM_UNIQUE(combine.Title)        0
SibSp.NUM_UNIQUE(combine.Parch)        0
SibSp.NUM_UNIQUE(combine.Embarked)     0
SibSp.NUM_UNIQUE(combine.Sex)          0
SibSp.MODE(combine.Pclass)             0
SibSp.MODE(combine.Title)              0
SibSp.MODE(combine.Parch)              0
SibSp.MODE(combine.Embarked)           0
SibSp.MODE(combine.Sex)                0
Length: 146, dtype: int64

In [ ]:
class RemoveLowInfo(BaseEstimator, TransformerMixin):
    def __init__(self, threshold):
        self.threshold = threshold

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        df = X.copy()
        keep = [column for column in df.columns if df[column].value_counts(normalize=True).reset_index(drop=True)[0]<self.threshold]
        return df[keep]

In [ ]:
from sklearn.preprocessing import Imputer, OneHotEncoder, StandardScaler, FunctionTransformer

In [ ]:
impute_median = FunctionTransformer(lambda x: x.fillna(x.median()), validate=False)

In [ ]:
normalize = FunctionTransformer(lambda x: (x-x.mean())/x.std(), validate=False)

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
transformer = Pipeline([
    ("imputer", impute_median),
    ('removelowinfo',RemoveLowInfo(threshold=.95)),
    ('scaler', normalize),
])

In [ ]:
clean_features = transformer.fit_transform(features)

In [ ]:
from sklearn.linear_model  import LogisticRegression, SGDClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, BaggingClassifier, VotingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.decomposition import PCA
import xgboost as xgb
import lightgbm as lgb
# import catboost as cgb

In [ ]:
! pip install lightgbm

Requirement already satisfied: lightgbm in /opt/conda/envs/Python36/lib/python3.6/site-packages (2.3.1)
Requirement already satisfied: scipy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from lightgbm) (1.2.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from lightgbm) (1.19.1)
Requirement already satisfied: scikit-learn in /opt/conda/envs/Python36/lib/python3.6/site-packages (from lightgbm) (0.20.3)

In [ ]:
methods = [
           ('logistic', LogisticRegression(solver='lbfgs')), 
#            ('sgd', SGDClassifier()), 
           ('tree', DecisionTreeClassifier()),
           ('bag', BaggingClassifier()),
           ('xgb', xgb.XGBClassifier(max_depth=3)),
           ('lgb', lgb.LGBMClassifier(max_depth=3)),
#            ('cgb', cgb.CatBoostClassifier(max_depth=3,silent=True)),
           ('ada', AdaBoostClassifier()),
           ('gbm', GradientBoostingClassifier()),
           ('rf', RandomForestClassifier(n_estimators=100)),
#            ('svc', LinearSVC()),
#            ('rbf', SVC()),
           ('nb', Pipeline([('pca', PCA()), ('gnb', GaussianNB())])),
           ('nn', MLPClassifier()),
           ('knn', KNeighborsClassifier()),
          ]


ensemble = VotingClassifier(
        methods,
        voting='soft', 
#         weights=[1,1,1,1,2,2,1,1],
#         flatten_transform=True,
)

clf = Pipeline([
#          ('transformer', transformer),
     ('ensemble', ensemble),
])

clf.fit(clean_features.iloc[:train_df.shape[0],:], target)

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Pipeline(memory=None,
     steps=[('ensemble', VotingClassifier(estimators=[('logistic', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, ve...  weights='uniform'))],
         flatten_transform=None, n_jobs=None, voting='soft', weights=None))])

In [ ]:
submission['Survived'] = pd.DataFrame(clf.predict(clean_features.iloc[train_df.shape[0]:,:]))

In [ ]:
print(submission.dtypes)

PassengerId    int64
Survived       int64
dtype: object

In [ ]:
# project.save_data(file_name = "submission2.csv",data = submission.to_csv(index=False))